.cartCard {
    display: flex;
    width: 600px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.cartTotals {
    display: flex;
    align-items: center;
    gap: 20px;
}

.faded-line {
    border: none;
    height: 1px;
    background: linear-gradient(to right, 
        rgba(0, 0, 0, 0),
        #333333,
        rgba(0, 0, 0, 0)
    );
    margin: 10px 0;
}
