body {
  margin: 0;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  background-color: navy;
  display: flex;
  justify-content: space-around;
  font-size: xx-large;
  font-weight: bold;
}