body {
  margin: 0;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  background-color: rgb(0, 0, 128, .5);
  display: flex;
  justify-content: space-around;
  font-size: xx-large;
  font-weight: bold;
}

nav > a {
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
}